.App {
  margin: auto;
  background-image: url('../pexels-mahadee-hasan-15848940.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 800px) {
  .App{
  background-image: url('../mobile_bg.jpg');
  }
}